<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.example"
        version   = "1.0.00">

	<preference name="phonegap-version" value="2.7.0" />
	<preference name="orientation" value="portrait" />

    <name>App</name>
    <description>an app</description>
	
</widget>